

<div class="h-[10vh]">
  <div class="mt-20 flex justify-center">
    <p class="text-6xl font-thin text-red-700">PEACH HOUSE</p>
  </div>
</div>



<body>

  <div class="m-10 md:m-32">
    <div>
      <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
        <a href="https://www.etsy.com/listing/1105053574/chicago-groovy-sticker?click_key=cfd129ac477851ef03ae35017489b1e9a0621c43%3A1105053574&click_sum=cd69cae4&ref=shop_home_feat_3&frs=1">
          <li class="relative">
            <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
              <img src="../assets/chicago.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
              <button type="button" class="absolute inset-0 focus:outline-none">
                <span class="sr-only">View details for IMG_4984.STICKER</span>
              </button>
            </div>
            <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4984.STICKER</p>
            <p class="pointer-events-none block text-sm font-medium text-gray-500">CHICAGO 3.9 MB</p>
          </li>
        </a>

        <a href="https://www.etsy.com/listing/1142657707/dreams-like-these-sticker?click_key=1eb2b39a0953bbeb7ff541eea3e89cc6cc322536%3A1142657707&click_sum=e9b6402d&ref=shop_home_active_1&frs=1">
          <li class="relative">
            <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
              <img src="../assets/dreams.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
              <button type="button" class="absolute inset-0 focus:outline-none">
                <span class="sr-only">View details for IMG_4985.HEIC</span>
              </button>
            </div>
            <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4985.STICKER</p>
            <p class="pointer-events-none block text-sm font-medium text-gray-500">DREAMS 3.9 MB</p>
          </li>
        </a>

        <a href="https://www.etsy.com/listing/1138666779/smiley-trio-patch-3x3-iron-on?click_key=3b1f46f15aeeb9661b522569e95cbaac799f8591%3A1138666779&click_sum=a5fe77b9&ref=shop_home_active_3&frs=1&crt=1">
          <li class="relative">
            <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
              <img src="../assets/smiley.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
              <button type="button" class="absolute inset-0 focus:outline-none">
                <span class="sr-only">View details for IMG_4986.HEIC</span>
              </button>
            </div>
            <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4986.PATCH</p>
            <p class="pointer-events-none block text-sm font-medium text-gray-500">SMILEY 3.9 MB</p>
          </li>
        </a>

        <a href="https://www.etsy.com/listing/871967579/mushroom-brothers-sticker-duo?click_key=5b1a3dbd7387f016ed9e62134ca4e0c7260a8afc%3A871967579&click_sum=8c32379c&ref=shop_home_active_5&frs=1">
        <li class="relative">
          <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
            <img src="../assets/bros.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
            <button type="button" class="absolute inset-0 focus:outline-none">
              <span class="sr-only">View details for IMG_4987.HEIC</span>
            </button>
          </div>
          <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4987.STICKER</p>
          <p class="pointer-events-none block text-sm font-medium text-gray-500">BROS 3.9 MB</p>
        </li>
      </a>
        <!-- More files... -->
      </ul>
    </div> 


    <div class="mt-8">
      <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
       
       <a href="etsy.com/listing/858636714/timmys-pride-flag-sticker-animal?click_key=491373f11a15d230076d0753b49f532007ebd7de%3A858636714&click_sum=49af5bee&ref=shop_home_active_6&frs=1">
        <li class="relative">
          <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
            <img src="../assets/timmy.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
            <button type="button" class="absolute inset-0 focus:outline-none">
              <span class="sr-only">View details for IMG_4988.HEIC</span>
            </button>
          </div>
          <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4988.STICKER</p>
          <p class="pointer-events-none block text-sm font-medium text-gray-500">TIMMY 3.9 MB</p>
        </li>
        </a>

        <a href="etsy.com/listing/1122325991/my-cottage-in-the-city-print-5x7?click_key=e6c35026f806c371d7fd1f655b6cee17013a1cee%3A1122325991&click_sum=b7c0ba73&ref=shop_home_active_11&frs=1">
        <li class="relative">
          <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
            <img src="../assets/cottage.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
            <button type="button" class="absolute inset-0 focus:outline-none">
              <span class="sr-only">View details for IMG_4989.HEIC</span>
            </button>
          </div>
          <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4989.PRINT</p>
          <p class="pointer-events-none block text-sm font-medium text-gray-500">COTTAGE 3.9 MB</p>
        </li>
      </a>


      <a href="https://www.etsy.com/listing/1142610993/she-feels-so-new-sticker?click_key=31b238e00e831554ed1cac6dd8cd688a7ec377e5%3A1142610993&click_sum=da2313ce&ref=shop_home_active_2&frs=1">
        <li class="relative">
          <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
            <img src="../assets/she.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
            <button type="button" class="absolute inset-0 focus:outline-none">
              <span class="sr-only">View details for IMG_4990.HEIC</span>
            </button>
          </div>
          <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4990.STICKER</p>
          <p class="pointer-events-none block text-sm font-medium text-gray-500">SHE 3.9 MB</p>
        </li>
      </a>


      <a href="https://www.etsy.com/listing/1122319397/chicago-skyline-print-5x7?click_key=7861aea492140ae18f0936eaccbdd0f58ba35ea9%3A1122319397&click_sum=629d6b4b&ref=shop_home_active_12&frs=1">
        <li class="relative">
          <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
            <img src="../assets/skyline.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
            <button type="button" class="absolute inset-0 focus:outline-none">
              <span class="sr-only">View details for IMG_4991.HEIC</span>
            </button>
          </div>
          <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4991.PRINT</p>
          <p class="pointer-events-none block text-sm font-medium text-gray-500">SKYLINE 3.9 MB</p>
        </li>
      </a>

      </ul>
    </div>



    <div class="mt-8">
      <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
       
        <a href="https://www.etsy.com/listing/858640682/the-gay-agenda-planner-sticker-sheet?click_key=b27401b18b8c8e8d693a079d10ab86a379452289%3A858640682&click_sum=2700cdad&ref=shop_home_active_16&frs=1">
          <li class="relative">
            <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
              <img src="../assets/agenda.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
              <button type="button" class="absolute inset-0 focus:outline-none">
                <span class="sr-only">View details for IMG_4992.HEIC</span>
              </button>
            </div>
            <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4992.SHEET</p>
            <p class="pointer-events-none block text-sm font-medium text-gray-500">AGENDA 3.9 MB</p>
          </li>
        </a>


        <a href="https://www.etsy.com/listing/973642953/make-more-art-print?click_key=8bcb07a1c39b53a0c3dc2c0b2f7ba9dcbe61c7f0%3A973642953&click_sum=7cd0289c&ref=shop_home_active_15&frs=1">
        <li class="relative">
          <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
            <img src="../assets/art.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
            <button type="button" class="absolute inset-0 focus:outline-none">
              <span class="sr-only">View details for IMG_4993.HEIC</span>
            </button>
          </div>
          <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4993.PRINT</p>
          <p class="pointer-events-none block text-sm font-medium text-gray-500">ART 3.9 MB</p>
        </li>
      </a>


      <a href="https://www.etsy.com/listing/973637881/lunar-boy-print?click_key=b011db969f8a103103d0eb9702c4e1720152e102%3A973637881&click_sum=ca817520&ref=shop_home_active_7&frs=1">
        <li class="relative">
          <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
            <img src="../assets/lunar-boy.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
            <button type="button" class="absolute inset-0 focus:outline-none">
              <span class="sr-only">View details for IMG_4994.HEIC</span>
            </button>
          </div>
          <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4994.PRINT</p>
          <p class="pointer-events-none block text-sm font-medium text-gray-500">LUNAR 3.9 MB</p>
        </li>
      </a>

      <a href="https://www.etsy.com/listing/1052367891/house-on-fire-sticker?click_key=9d5c6fc44606be3dc66aa61a1e52a15b05a79277%3A1052367891&click_sum=67128bd3&ref=shop_home_active_8&frs=1">
        <li class="relative">
          <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
            <img src="../assets/house-on-fire.jpg" alt="" class="pointer-events-none object-cover group-hover:opacity-50">
            <button type="button" class="absolute inset-0 focus:outline-none">
              <span class="sr-only">View details for IMG_4995.HEIC</span>
            </button>
          </div>
          <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4995.STICKER</p>
          <p class="pointer-events-none block text-sm font-medium text-gray-500">HOUSEONFIRE 3.9 MB</p>
        </li>
      </a>
      
      </ul>
    </div>


  </div>



</body>

<router-outlet></router-outlet>

<footer>
  <div class="bg-amber-400 h-5"></div>
  <div class="bg-orange-600 h-5"></div>
  <div class="bg-[#4f66bf] h-10 pt-2 text-xs font-thin tracking-tighter">
    <p>© ALL RIGHTS RESERVED.</p>
  </div>
</footer>
